<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Characters</key>
	<array>
		<dict>
			<key>name</key>
			<string>Daenerys (Khaleesi) Targaryen</string>
			<key>image</key>
			<string>Khaleesi</string>
			<key>detail</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jon Snow</string>
			<key>image</key>
			<string>Jon</string>
			<key>detail</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tyrion Lannister</string>
			<key>image</key>
			<string>Tyrion</string>
			<key>detail</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Petyr Baelish</string>
			<key>image</key>
			<string>Petyr</string>
			<key>detail</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bronn</string>
			<key>image</key>
			<string>Bronn</string>
			<key>detail</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cersei Lannister</string>
			<key>image</key>
			<string>Cersei</string>
			<key>detail</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
